body {
	background-color: #1f202b;
	color: white;
}


.bg-dark {
	background-color: #1f202b !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.jumbotron {
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-top: 2rem;
	background-image: url("../img/hero-background.png");
	background-size: cover;
}


.jumbotron p {
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	font-size: 2rem;
}

.jumbotron p span {
	color: #f70074;
}

.featurette-heading {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.text-muted {
	font-weight: normal;
}


#about {
	background-image: linear-gradient(#d3cce3, #e9e4f0);
	background-size: cover;
	color: black;
	padding-bottom: 2rem;
}

#about img {
	border-radius: 50%;
}

h3 {
	font-family: 'Source Code Pro', monospace;
	color: #f70074;
	font-weight: 600;
}

p {
	font-family: 'Montserrat', sans-serif;
}

#connect {
	padding-bottom: 3rem;
}

#connect a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#connect span {
	font-weight: bold;
}